.dream {
  background-image: url("../images/dream-lightgroup.png");
  background-repeat: no-repeat;
  padding: 175px;
  padding: 169px;
  background-position: 40% 60%;
}
.dream__img-dream {
  margin-top: 253px;
  margin-right: 32px;
  width: 308px;
  height: 289px;
}
.dream__img-big {
  width: 533px;
  height: 473px;
}
.dream__img-small {
  margin-top: 500px;
  margin-left: -540px;
  z-index: 1;
}
.dream__imgs {
  margin-top: 64px;
}
.dream__h1 {
  z-index: 5;
  width: 882px;
  margin-top: -95px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: white;
}
.dream__titles {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.dream__button {
  border: 1px solid white;
  border-radius: 60px;
  padding: 14px 28px;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: white;
  margin-top: 64px;
  margin-left: -720px;
  margin-bottom: 164px;
}
.dream__img-light-blue {
  position: absolute;
  width: 414px;
  height: 414px;
  z-index: 0;
  top: 1900px;
  margin-left: -420px;
}
.dream__img-small {
  z-index: 1;
  margin-top: -35px;
  margin-left: 340px;
}
.dream__img-light-white {
  position: absolute;
  width: 316px;
  height: 316px;
  z-index: 0;
  margin-left: 420px;
  margin-top: -300px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .dream {
    background-size: 125%;
    background-position: 50% 90%;
  }
  .dream__img-big {
    margin-top: 0px;
    margin-left: -56%;
    width: 704px;
    height: 631px;
  }
  .dream__img-small {
    margin-left: -228px;
  }
  .dream__img-dream {
    display: flex;
    margin-top: 649px;
    margin-right: 32px;
  }
  .dream__div {
    display: flex;
    flex-direction: row;
  }
  .dream__imgs {
    display: flex;
  }
  .dream__img-small {
    margin-top: 817px;
    margin-left: -268px;
  }
  .dream__h1 {
    z-index: 5;
    width: 100%;
    letter-spacing: -0.04em;
    color: #fff;
    margin-top: -95px;
    font-family: DM Sans, sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 110%;
  }
  .dream__button {
    margin-left: -75%;
  }
}
@media screen and (max-width: 480px) {
  .dream__img-big {
    content: url("../images/big-yacht-phone.png");
    width: 1000px;
    height: 603px;
  }
  .dream__div {
    display: flex;
    flex-direction: column-reverse;
  }
  .dream__img-dream {
    width: 100%;
    height: 100%;
    margin-top: 24px;
  }
  .dream__img-small {
    margin-top: 24px;
    margin-left: 33%;
  }
  .dream__h1 {
    width: 100%;
    font-size: 50px;
  }
  .dream__button {
    margin-bottom: 80px;
    margin-left: -56%;
  }
}