.rent {
  display: flex;
  gap: 188px;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 164px;
}
.rent__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: white;
  width: 282px;
}
.rent__div-title {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.rent__button {
  display: flex;
  gap: 16px;
  border: 1px solid white;
  border-radius: 60px;
  padding: 14px 28px;
  width: 132px;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: white;
  text-align: center;
  align-items: center;
}
.rent__input {
  width: 443px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 16px;
}
.rent__input::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent__input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent__input-comment {
  width: 443px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 58px;
}
.rent__input-comment::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent__input-comment::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 64px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .rent {
    gap: 69px;
  }
  .rent__input {
    width: 364px;
  }
  .rent__input-comment {
    width: 364px;
  }
}
@media screen and (max-width: 480px) {
  .rent {
    gap: 40px;
  }
  .rent__div-title {
    margin-left: -10%;
  }
  .rent__title {
    width: 100%;
    font-size: 50px;
  }
  .rent__input, .rent__input-comment {
    width: 335px;
  }
}