@import "../partials/clients.scss";

@import "../partials/dream.scss";

@import "../partials/cards.scss";

@import "../partials/entertainment.scss";

@import "../partials/rent.scss";

@import "../partials/entertainment.scss";

@import "../partials/adventures.scss";

@import "../partials/reviews.scss";

@import "../partials/reviews.scss";

@import "../partials/mobile.scss";

@import "../partials/animations.scss";

body {
  background-color: #11131f;
}

.section-wrapper {
  background-image: url("../images/background-loop.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media screen and (max-width: 480px) {
     background-image: none;
  }
}

.section-wrapper2 {
  background-image: url("../images/entertainment-light.png");
  background-repeat: no-repeat;
  background-position: 140% 50%;
}