<section class="cards container">
    <ul class="cards__list">
        <li class="cards__item card__1">
            <img class="cards__img" src="./images/cards-yaht-1.png" alt="">
            <div class="cards__titles"><h2 class="cards__h2">Arrow</h2>
            <h3 class="cards__h3">LUXURY YAHTS</h3></div>
            
            <ul class="cards__list-h4">
                <li class="cards__item-h4">
                    <ul class="cards__list-privilege">
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">LENGTH</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILDER</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILT</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">GUESTS</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">PRICE</h4>
                        </li>
                    </ul>
                </li>
                <li class="cards__item-h4">
                    <ul class="cards__list-price">
                        <li class="cards__item-price">
                            <h4 class="cards__h4">48m(155ft) </h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">Admiral</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">2021</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">11 in 5 cabins</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">€33,500,000</h4>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="cards__item card__2">
            <img class="cards__img" src="./images/cards-yaht-2.png" alt="">
            <div class="cards__titles">
            <h2 class="cards__h2">BENETTI OASIS 40M...</h2>
            <h3 class="cards__h3">LUXURY YAHTS</h3></div>
            <ul class="cards__list-h4">
                <li class="cards__item-h4">
                    <ul class="cards__list-privilege">
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">LENGTH</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILDER</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILT</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">GUESTS</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">PRICE</h4>
                        </li>
                    </ul>
                </li>
                <li class="cards__item-h4">
                    <ul class="cards__list-price">
                        <li class="cards__item-price">
                            <h4 class="cards__h4">41m (133ft) </h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">Benetti</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">2025</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">10 in 5 cabins</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">€23,210,000</h4>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="cards__item card__3">
            <img class="cards__img" src="./images/cards-yaht-3.png" alt="">
            <div class="cards__titles">
            <h2 class="cards__h2">BELLE ANNA</h2>
            <h3 class="cards__h3">LUXURY YAHTS</h3></div>
            <ul class="cards__list-h4">
                <li class="cards__item-h4">
                    <ul class="cards__list-privilege">
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">LENGTH</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILDER</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">BUILT</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">GUESTS</h4>
                        </li>
                        <li class="cards__item-privilege">
                            <h4 class="cards__h4">PRICE</h4>
                        </li>
                    </ul>
                </li>
                <li class="cards__item-h4">
                    <ul class="cards__list-price">
                        <li class="cards__item-price">
                            <h4 class="cards__h4">50m(155ft)</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">ISA</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">2012</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">12 in 6 cabins</h4>
                        </li>
                        <li class="cards__item-price">
                            <h4 class="cards__h4">€21,000,000</h4>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</section>
