<section class="dream container">
    <div class="dream__imgs">
        <img class="dream__img-dream" src="./images/yacht-dream.svg" alt="">
        <img class="dream__img-big" src="./images/big-yacht.svg" alt="">

        <img class="dream__img-small" src="./images/small-yacht.svg" alt="">
    </div>
    <div class="dream__titles">
        <h1 class="dream__h1">Choose your dream yacht and sail away into the sunset</h1>
        <button class="dream__button">Yacht rental</button>
        <img class="dream__img-light-blue" src="./images/dream-light-blue.svg" alt="">
        <img class="dream__img-light-white" src="./images/dream-light-white.svg" alt="">
    </div>

</section>