<footer class="footer container">
    <div class="footer__logo">
        <img class="footer__logo-img" src="./images/logo.png" alt="">
        <h2 class="footer__logo-title">Yacht Adventures</h2>
    </div>
    <div class="footer__links">
        <ul class="footer__list">
            <li class="footer__item">
                <h3 class="footer__h3">About</h3>
            </li>
            <li class="footer__item">
                <h3 class="footer__h3">Yachts</h3>
            </li>
            <li class="footer__item">
                <h3 class="footer__h3">Reviews</h3>
            </li>
        </ul>
    </div>
    <div class="footer__social">
        <h3 class="footer__h3">We in social</h3>
        <ul class="footer__list-social">
            <li class="footer__item-social">
                <img class="footer__img-facebook" src="./images/facebook.svg" alt="">
            </li>
            <li class="footer__item-social">
                <img class="footer__img-instagram" src="./images/insta.svg" alt="">
            </li>
            <li class="footer__item-social">
                <img class="footer__img-youtube" src="./images/youtube.svg" alt="">
            </li>
        </ul>
    </div>


</footer>
<div class="footer__div-police">
    <h2 class="footer__h2">2023. Yacht Adventures</h2>
    <h2 class="footer__h2 footer__police">Privacy Police</h2>
</div>