<header class="header container">
    <div class="header__div-logo">
        <img class="header__img" src="./images/logo.png" alt="logo">
        <h2 class="header__h2">Yacht Adventures</h2>
    </div>

    <ul class="header__list">
        <li class="header__item">
            <h3 class="header__h3">About</h3>
        </li>
        <li class="header__item">
            <h3 class="header__h3">Yachts</h3>
        </li>
        <li class="header__item">
            <h3 class="header__h3">Reviews</h3>
        </li>
    </ul>
</header>