<header class="header container">
    <div class="header__div-logo">
        <img class="header__img" src="./images/logo.png" alt="logo">
        <a href="./index.html" class="header__h2">Yacht Adventures</a>
    </div>
    <img class="second-header__menu menu-toggle header__img-phone js-open-menu" aria-expanded="false" aria-controls="mobile-menu" src="./images/header-phone.svg" alt="">
    <ul class="header__list">
        <li class="header__item">
            <h3 class="header__h3">About</h3>
        </li>
        <li class="header__item">
            <h3 class="header__h3">Yachts</h3>
        </li>
        <li class="header__item">
            <h3 class="header__h3">Reviews</h3>
        </li>
    </ul>

</header>