<div class="mobile-menu js-menu-container container" >
    <div class="header ">
      <div class="header__div-logo">
        <img class="header__img" src="./images/logo.png" alt="logo">
        <a href="./index.html" class="header__h2">Yacht Adventures</a>
      </div>
      <img class="second-footer__menu header__img-phone menu-toggle js-close-menu" aria-expanded="false"
        aria-controls="mobile-menu" src="./images/mobile-img.png" alt="">
    </div>
    <ul class="mobile__list">
      <li class="mobile__item">
        <h2 class="mobile__h2">About</h2>
      </li>
      <li class="mobile__item">
        <h2 class="mobile__h2">Yachts</h2>
      </li>
      <li class="mobile__item">
        <h2 class="mobile__h2">Reviews</h2>
      </li>
    </ul>
  </div>