<div class="modal__home-backdrop is-hidden" data-modal>
      <div class="modal__home-modal">
        <button class="modal__home-button-close" data-modal-close><img class="header-button-img-close" id="header-button-img-close" src="./images/mobile-img.png" alt=""></button>
        <div class="content">
                  <img class="modal__img" src="./images/yacht.png" alt="">   
                  <div class="modal__text">
                    <h2 class="modal__title">Thank you</h2>
                    <h3 class="modal__h3">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</h3>
                  </div> 
          </div>
        </div>
      </div>
    </div>