<section class="rent">
    <div class="rent__div-title">
        <h2 class="rent__title">Rent a yacht now</h2>
        <img class="rent__img" src="./images/yaht-rent.png" alt="">
    </div>
    <div class="rent__div-inputs">
        <ul class="rent__list">
            <li class="rent__item">
                <input class="rent__input"  type="text" placeholder="Full Name">
            </li>
            <li class="rent__item">
                <input class="rent__input"  type="text" placeholder="Email">
            </li>
            <li class="rent__item">
                <input class="rent__input" type="text" placeholder="Phone number">
            </li>
            <li class="rent__item">
                <input class="rent__input-comment" type="text" placeholder="Comment">
            </li>
        </ul>
        <button class="rent__button" data-modal-open>Send <img src="./images/arrow-2.png" alt=""></button>
    </div>
</section>

