
.header{
    display: flex;
    border-bottom: 1px solid rgba(246, 245, 239, 0.2);;
    justify-content: space-between;
}

.header__list{
   display: flex; 
   gap: 24px;
}


.header__div-logo{
    display: flex;
    gap: 8px;
}

.header__h2{    
    margin-bottom: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;        
    margin-top: 32px;
}


.header__img{
    width: 23px;
    height: 23px;
    margin-top: 32px;
}

.header__img-phone {
    position: absolute;
    left: -10000000000000000000000000000000px;
}

.header__h3{
    margin-top: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;    
}